# gradle-wrapper.jar committed for CI
/.gradle
/captures/
# /gradlew committed for CI
# /gradlew.bat committed for CI
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
/build/
